{% extends "layout.html" %}

{% block content %}
    <h1 style="color: rgb(36,182,180)">Lista de Episódios</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="color: rgb(36,182,180);">Nome</th>
                <th scope="col" style="color:rgb(36,182,180)">Data de Lançamento</th>
                <th style="color:rgb(36,182,180)">Código</th>
            </tr>
        </thead>
        <tbody>
            {% for episode in episodes %}
            <tr>
                <td>{{ episode.name }}</td>
                <td>{{ episode.air_date }}</td>
                <td><a href= /episode/{{episode.id}} >{{ episode.episode}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
