{% extends "layout.html" %}

{% block content %}
<div class="row">
  <h1 class="h5">PERFIL DA LOCALIZAÇÃO</h1>
  <div class="col-sm-3 col-6">
    <br>
    <p>
      <b>Nome:</b> {{ location.name }}
    </p>
    <p>
      <b>Tipo:</b> {{ location.type }}
    </p>
    <p>
      <b>Dimensão:</b> {{ location.dimension }}
    </p>
    <p>
      <b>Lista de personagens:</b>
    </p>
  </div>

  <div class="row">
    {% for character in residents %}
      <p>
        <a href="/profile/{{character.id}}">{{character.name}}</a>
      </p>
    {% endfor %}
  </div>  
</div>
{% endblock %}