<header style="border: 15cap; color: aquamarine; background-color: rgb(36, 182, 180); border-left: none;">
 <nav class="nav nav-pills nav-fill" >
      <a class="nav-link" href="/" style="color: rgb(232, 244, 73);">Home</a>
      <a class="nav-link" href="/locations" style="color:rgb(232, 244, 73)">Localizações</a>
      <a class="nav-link" href="/episodes" style="color: rgb(232,244, 73 );">Episódios</a>      
      <a class="nav-link" href="/lista" style="color:rgb(232, 244, 73);">Jason Data</a>
  </nav>
  <br>
  
</header>